{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="POST" class ="add-entry">
        <dl>
            <dt>title;</dt>
            <dd><input size="30" name="title" type="text"/></dd>
            dt{Text:}
            <dd><textarea col="40" name="text" id="text" cols="30" rows="5">

            </textarea></dd>

            <dd><input type="submit" value ="Share"/></dd>
        </dl>
    </form>
{% endif %}

<ul id="entries">
{% for entry in entries %}
    <li>
        <h2>{{ entry.title }}</h2>
        <h2>{{ entry.text|safe }}</h2>
    </li>
{% else %}
    <li><em>unbelievable, you're the first one to post so far</em></li>
{% endfor %}
</ul>
{% endblock %}